body{
    margin: 0px;
    box-sizing: content-box;
}

.nav-bar{
    justify-content: center;
   
    position: fixed;
    transform: translate(50%,0%);
    display: flex;
    border: 3px solid rgb(113, 227, 0);
    border-radius: 5px;
    padding: 4px;
    background-color: rgb(255, 238, 109);
    z-index: 1000;
    
    width: max-content;
}
.nav-bar *{
   
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    margin-left: 5px;
    margin-right: 10px;
    color: teal;

    cursor: pointer;
    
}
.nav-bar *:hover{
    text-decoration: underline;
    transform: scale(1.1);
}
#map
{
    height: 100vh;
}
#overlay{

    position: absolute;
    top: 0.1%;
    z-index: 888;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5); 
    display: none;
    opacity: 1;
}